init-author-name=Scio Labs
init-author-email=hello@scio.xyz
init-author-url=https://scio.xyz/
init-license=GPL-3.0

auto-install-peers = true
enable-pre-post-scripts = true

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
